# Data Science Tools and Ecosystem

## Here is the introduction

### List of Data scine Language

- python
- R
- julia

1. java
2. scala
3. matlab
4. JavaScript
- C++
- Python
- SQL

| Tools  | Date |
| --- | ---- |
| Git | 2020 |
| Appachi | 2003 |
| atom | 1997 |

### Here Is Heading three

In [9]:
# This a simple arithmetic expression to mutiply then add integers.
a=(2-33)
b=(9+1)
a*b

-310

In [14]:
a=22
s=3
a+s

25

In [17]:
#This will convert 200 minutes to hours by diving by 60

a=200
b=60
a/b

3.3333333333333335

__Objective__
- Java 
- Python
- Scala

## Author 
__Asad Buzdar__

# Data Science EcoSystem
## Data Science LAbraries
- PANDA
- JAva
- Python
4. Java scripit
5. Anaconda
6. Scala
## Content Table

| Content | Table |
|-------|--------|
| Java | Python |
| AnaConda | JAva |


### End Of the Document
__Author__ _Asad Buzdar_